@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*::-webkit-scrollbar {
  display: none;
}


* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  font-family: 'Roboto', sans-serif;
  color: #393939;
}

body {
  background-color: #BCBDC0;
  margin: 0;
}

.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: rgb(163, 163, 163);
}

#movieSearch {
  font-size: 25px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  width: 30%;
  background-color: rgb(163, 163, 163);
}

#movieSearch::-webkit-input-placeholder {
  opacity: 30%;
  color: black;
}

#movieSearch:focus {
  outline: none;

}



.resultContainer {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  align-self: center;
  text-align: center;
  background-color: rgb(190, 190, 190);
}


.movieCards {
  padding: 40px 20px 40px 20px;
  width: 250px;
  cursor: pointer;
}

.movieCards > img {
  width: 220px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 5px 10px 0px 5px #565857;
  margin-bottom: 5px;
}

.movieCards > img:hover {
  transform: scale(1.1);
  transform-origin: center center;
  margin-bottom: 20px;
}

.movieCards > img:hover + #title {
  font-size: 20px;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.movieCards >img:not(:hover) + #title {
  font-size: 18px;
  transition: 0.5s;
  transition-delay: 0.2s;
}

@media screen and (max-width: 1800px) {
  .resultContainer {
    grid-template-columns: auto auto auto auto;
  }
}



@media screen and (max-width: 1250px) {
    .resultContainer {
      grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 950px) {
    .resultContainer {
      grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 620px) {
    .resultContainer {
      grid-template-columns: auto;
    
    }

    .movieCards {
      width: 200px;
    }

    .movieCards > img {
      width: 200px;
    }

    #movieSearch {
      width: 200px;
    }
}





/* Movie Details Page */


.detailsContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 150px;
}

.movieDetails {
  width: 50%;
  position: relative;
  top: -50px;
}

.movieDetails > h1 {
  font-size: 75px;
}

.movieDetails > h2 {
  font-size: 35px;
}

.movieDetails > p {
  font-size: 25px;
}

.movieImage {
  box-shadow: 15px 15px 0px 10px #565857;
  border-radius: 5px;
}

@media screen and (max-width: 815px){
  .movieImage {
    width: 250px;
  }

  .movieDetails > h1 {
    font-size: 50px;
  }

  .movieDetails > h2 {
    font-size: 25px;
  }

  .movieDetails > p {
    font-size: 18px;
  }
}

@media screen and (max-width: 685px) {
  .movieImage {
    width: 150px;
    box-shadow: 10px 10px 0px 5px #565857;
  }
}

@media screen and (max-width: 450px) {
  .detailsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movieDetails > h1 {
    font-size: 30px;
  }
}