@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*::-webkit-scrollbar {
  display: none;
}


* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  font-family: 'Roboto', sans-serif;
  color: #393939;
}

body {
  overflow: hidden;
  background-color: #BCBDC0;
  
}

.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 99.9%;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  margin-bottom: 20px;
  height: 100px;
  padding: 20px;
}

#movieSearch {
  font-size: 20px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  width: 500px;
  background-color: #BCBDC0;
}

#movieSearch::-webkit-input-placeholder {
  opacity: 30%;
  color: black;
}

#movieSearch:focus {
  outline: none;

}



.resultContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  width: 90%;
  height: 550px;
  overflow-y: auto;
  overflow-x: auto;
  align-self: center;
  text-align: center;
}


.movieCards {
  padding: 20px 0px 0px 0px;
  width: 250px;
  height: 400px;
  cursor: pointer;
}

.movieCards > img {
  width: 220px;
  height: auto;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 5px 10px 0px 5px #565857;
  margin-bottom: 5px;
}

.movieCards > img:hover {
  transform: scale(1.1);
  transform-origin: center center;
  margin-bottom: 20px;
}

.movieCards > img:hover + #title {
  font-size: 20px;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.movieCards >img:not(:hover) + #title {
  font-size: 18px;
  transition: 0.5s;
  transition-delay: 0.2s;
}

@media screen and (max-height: 1800px) {
    .resultContainer{
      height: 1350px;
    }
}

@media screen and (max-height: 1600px) {
  .resultContainer{
    height: 1100px;
  }
}

@media screen and (max-height: 1250px) {
  .resultContainer{
    height: 800px;
  }
}

@media screen and (max-width: 1250px) {
    .resultContainer {
      grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 950px) {
    .resultContainer {
      grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 620px) {
    .resultContainer {
      grid-template-columns: auto;
    
    }

    .movieCards {
      width: 200px;
    }

    .movieCards > img {
      width: 200px;
    }

    #movieSearch {
      width: 200px;
    }
}





/* Movie Details Page */


.detailsContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 150px;
}

.movieDetails {
  width: 50%;
  position: relative;
  top: -50px;
}

.movieImage {
  box-shadow: 15px 15px 0px 10px #565857;
  border-radius: 5px;
}